*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    min-height: 100vh;
    /* width: 100%; */
}
.container{
display: flex;
width: 70vw;
}
.panel{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 40px;
    flex: 0.5;
    position: relative;
    transition: flex 0.5 ease-in;
    cursor: pointer;
    color: white;
    margin: 10px;
    transition: flex 1s ease-in;
}
.panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    opacity: 0;
}
.panel.active{
    flex: 4;

}
.panel.active h3{
    opacity: 1;
}
@media(max-width:480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
display: none;
    }
}